language: node_js
node_js:
  - "12"

before_script:
  - yarn lint

script:
  - yarn build
  - yarn test

cache:
  yarn: true

before_deploy:
  - yarn e2e-build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  keep_history: true
  local_dir: dist/e2e/
  on:
    branch: develop
